.logo3 {
    height: 100px;
    width: 100px;
}

/** {
    border: 1px solid red;
}*/

header {
    background-color: rgb(81, 81, 156);
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #504b4b;
}


.imgUser {
    height: 100%;
    width: 100px;
    border-radius: 50%;
    /*para que sea redondo*/
    background-color: white;

}

#userMenu {
    display: none;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    right: 10px;
    top: 100px;
    /* Ajusta según sea necesario */
    z-index: 1000;
   
}

#userMenu li {
    list-style: none;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#userMenu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

aside {
    width: 30%;
    background-color: rgb(193, 184, 202);
    border-right: 2px solid #504b4b;
}

.asideMovil {
    display: none;
}

.contenedorPrincipal {
    width: 70%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-image: url("../img/Fondo-Main.jpg"); /* URL de la imagen de fondo */
    /* Otras propiedades de fondo (opcional) */
    background-size: cover; /* Ajusta la imagen para cubrir toda el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repetir la imagen */
    opacity: 0.7;
    overflow: auto;//*Para que el contenido se desplace si es necesario sin sobrepasar el footer por ejemplo*/
}

main {
    height: 80vh;
    display: flex;
  
}

aside ul {
    list-style: none;
}

aside li {
    font-size: 30px;
    margin: 10px;
}

aside i {
    margin-right: 20px;
    width: 30px;

}
footer{
    background-color:  rgb(81, 81, 156);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #504b4b;
}
.incidencias {
      
    background-color: #dddddd; /* Fondo con opacidad */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 20px; /* Espaciado inferior */
    color: black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  td i{
    margin-left: 20px;
    margin-right: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #ca9f9f;
  }

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Ocupa toda la altura de la viewport */
    }/*Esta regla hace que el cuerpo de la página sea un contenedor flex con dirección de columna. Esto asegura que los elementos hijos (como header, main y footer) se apilen verticalmente y ocupen todo el espacio disponible.*/
    header h1 {
        display: none;
    }

    .logo3 {
        height: 100px;
        width: 100px;
    }

    header {
        background-color: rgb(81, 81, 156);
        height: 100px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    aside {
        display: none;
    }

    .contenedorPrincipal {
        width: 100%;
        font-size: 20px;
        color: white;
        background-image: url("../img/Fondo-Main.jpg"); /* URL de la imagen de fondo */
        /* Otras propiedades de fondo (opcional) */
        background-size: cover; /* Ajusta la imagen para cubrir toda el área */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita repetir la imagen */
        opacity: 0.7;
    }

    .asideMovil {
        display: block;
    }

    main {
        flex-direction: column;
        flex: 1; /* Ocupa todo el espacio restante después de header y footer */
    }

    #asideMovil {
        list-style: none;
        display: none;
        font-size: 20px;
        padding-left: 0;
        
    }

    #burguer {
        display: block;
        font-size: 30px;
        margin: 10px;
    }

    #asideMovil li {
        margin: 10px;
        border-bottom: 1px solid #504b4b;
    }
    #asideMovil li i {
        margin-right: 20px;
        width: 30px;
    }

}